.siteWrapper{
  margin:0 auto;
  max-width: 1080px;
  width:100%;
  padding:0 25px;
}

.header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:#fff;
  /* margin-top:10px; */
  padding:0 10px;
  border-bottom:1px solid #bbb;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.leagueNav{
  display:flex;
}

.leagueNav a{
  display:block;
  padding:10px 30px;
  text-decoration:none;
  font-size:1em;
  font-size:bolder;
  color:black;
  border-bottom:1px solid transparent;
  transition: all 0.5s ease;
}

.leagueNav a:hover{
  border-bottom:1px solid #E6B000;
}

.leagueNav a img{
  height:1.5em;
}

.mainWrapper{
  margin:120px auto 50px auto;
}

.mainWrapper h1{
  margin:0 auto;
  font-size:3em;
  text-align:center;
}

.mainWrapper h1::after{
  content: "";
    display: block;
    margin: 5px auto 0;
    height: 5px;
    width: 45%;
    background: #E6B000;
    background-clip: padding-box;
}

.matches{
  width:100%;
  padding:25px;
}

.matches .match{
  margin:20px auto 0 auto;
  padding:20px;
  width:100%;
  border:1px solid #bbb;
  background-color:white;
  display:flex;
  align-items: center;
}

.matches .match .matchTime{
  flex-basis:20%;
  text-align:center;
}

.matches .match .matchData{
  flex-basis:80%;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.matches .match .matchData .matchHeading, .matches .match .matchData .matchOdds {
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.matchHeading .team, .matchOdds .team{
  flex-basis:48%;
  text-align:center;
}
.matchHeading .vs, .matchOdds .vs{
  flex-basis:2%;
  min-width:25px;
}

.matchHeading .team img{width:100px;}
.matchHeading .team h2{
  margin:auto 0;
  font-weight:normal;
}

.matchOdds .team{
  font-size:1.5em;
  font-weight:900;
}

