@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,700,900&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
  color:#2f2f2f;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

